@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.skillContainer img {
  width: 400px; 
  height: 250px; 
  border-radius: 10px;
  filter: none; 
  -webkit-filter: none; 
}
.vertical-timeline::before {
  background: rgb(96, 235, 230); /* Change this to your desired color */
}